.row {
  @include respond('tablet') {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem;

    .col-m {
      width: 33.33333333%;
      @include respond('laptop') {
        width: 25%;
      }
    }

    .col-m--2 {
      width: 50%;
      @include respond('laptop') {
        width: 33.333333333%;
      }
    }

    .col-m--3 {
      width: 33.33333%;
      @include respond('laptop') {
        width: 25%;
      }
    }
  }
}
